!!!5
html
  head
    title CSS Element Queries
    //- link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/test.css")
  body
    header
      h1 CSS Element Queries
    article
      != yield
    footer
    script(src="/js/jquery-2.0.2.js")
    script(src="/js/jquery.ba-resize.min.js")
    script(src="/js/underscore.js")
    script(src="/js/backbone.js")
    script(src="/js/testing.js")