.posts
  .post
    h3 Lorem ipsum Duis non cillum eu sunt.
    p Lorem ipsum Officia incididunt ullamco do nulla incididunt fugiat elit ut mollit qui aute eu dolore ex qui sunt dolore cillum officia nostrud cillum ullamco in veniam eiusmod aliqua irure ex elit et veniam ex et.
  .post
    h3 Lorem ipsum Duis non cillum eu sunt.
    p Lorem ipsum Officia incididunt ullamco do nulla incididunt fugiat elit ut mollit qui aute eu dolore ex qui sunt dolore cillum officia nostrud cillum ullamco in veniam eiusmod aliqua irure ex elit et veniam ex et.
  .post
    h3 Lorem ipsum Duis non cillum eu sunt.
    p Lorem ipsum Officia incididunt ullamco do nulla incididunt fugiat elit ut mollit qui aute eu dolore ex qui sunt dolore cillum officia nostrud cillum ullamco in veniam eiusmod aliqua irure ex elit et veniam ex et.